// Grid
.l-single
  +row
  +outer-container

.l-half
  +span-columns(6)
  +media($mobile)
    +span-columns(12)

.l-one-third
  +span-columns(4)
  +media($mobile)
    +span-columns(12)

.l-one-fourth
  +span-columns(3)
  +media($mobile)
    +span-columns(12)

.l-one-sixth
  +span-columns(2)
  +media($mobile)
    +span-columns(12)

.l-six
  +span-columns(6)
  +media($mobile)
    +span-columns(12)

.l-eight
  +span-columns(8)
  +media($mobile)
    +span-columns(12)

// Vertical
.l-content
  padding: 60px 0

.l-content--medium
  padding: 70px 0

.l-content--big
  padding: 100px 0
