// Grid
.l-single
  +clearfix
  +outer-container
  +row
  overflow: hidden
  +media($desktop)
    padding: 0 2%

.l-centered
  margin: 0 auto

.l-row
  +clearfix
  +row

.l-half
  +clearfix
  +span-columns(6)
  +media($tablet)
    +span-columns(12 of 12)
  +media($mobile)
    width: 100%
  &.l-keep-on-tablet
    +media($tablet)
      +span-columns(6 of 12)
      &.gutter
        padding-right: 20px
    +media($mobile)
      width: 100%
      &.gutter
        padding-right: 0
  &.l-keep-on-mobile
    +media($mobile)
      +span-columns(6 of 12)
      &.gutter
        padding-right: 20px
  &.gutter
    padding-right: 20px
    +media($tablet)
      padding-right: 0

.l-half-tablet
  +clearfix
  +media($tablet)
    +span-columns(6 of 12)
  +media($mobile)
    width: 100%

.l-half-mobile
  +clearfix
  +media($mobile)
    +span-columns(6 of 12)
    &.gutter
      padding-right: 20px
  &.l-keep-on-tablet.l-one-fourth
    +clearfix
    +media($mobile)
      +span-columns(6 of 12)

.l-one-third
  +clearfix
  +span-columns(4)
  &.l-keep-on-tablet
    +media($tablet)
      +span-columns(4 of 12)
    +media($mobile)
      +span-columns(12 of 12)
  +media($tablet)
    +span-columns(12 of 12)
  +media($mobile)
    +span-columns(12 of 12)

.l-one-third-break-half
  +clearfix
  +span-columns(4)
  +media($tablet)
    width: 50%
  +media($mobile)
    +span-columns(12 of 12)

.l-single-break-half
  +media($tablet)
    +span-columns(6 of 12)

.l-single-break-half-break-single
  +clearfix
  +media($tablet)
    +span-columns(6 of 12)
  +media($mobile)
    width: 100%

.l-one-fourth
  +clearfix
  +span-columns(3)
  +media($tablet)
    width: 100%
  &.l-keep-on-tablet
    +span-columns(3)
  +media($mobile)
    +span-columns(12 of 12)

.l-one-fourth-tablet
  +clearfix
  +media($tablet)
    +span-columns(3 of 12)

.l-one-sixth
  +clearfix
  +span-columns(2)
  +media($tablet)
    +span-columns(12)
  +media($mobile)
    +span-columns(12)

//-------------------------
.l-two
  +span-columns(2)
  +media($tablet)
    width: 100%

.l-three
  +span-columns(3)
  +media($tablet)
    width: 100%

.l-four
  +span-columns(4)
  +media($tablet)
    width: 100%

.l-five
  +span-columns(5)
  +media($tablet)
    width: 100%

.l-seven
  +span-columns(7)
  +media($tablet)
    width: 100%

.l-eight
  +clearfix
  +span-columns(8)
  +media($tablet)
    +span-columns(12 of 12)
  +media($mobile)
    +span-columns(12 of 12)

.l-eight-tablet
  +clearfix
  +media($tablet)
    +span-columns(8 of 12)
    &.gutter
      padding-right: 20px

.l-nine
  +clearfix
  +span-columns(9 of 12)
  &.gutter
    padding-right: 20px
  +media($mobile)
    width: 100%
    &.gutter
      padding-right: 0

.l-nine-tablet
  +media($tablet)
    +clearfix
    +span-columns(9 of 12)
    &.gutter
      padding-right: 20px

// Shift
.l-one-shift
  +shift(1)
  +media($tablet)
    margin-left: 0

.l-one-half-shift
  +shift(0.5)
  +media($tablet)
    margin-left: 0

// Vertical
.l-content--small
  +clearfix
  padding: 30px 0

.l-content--tiny
  +clearfix
  padding: 10px 0

.l-content
  +clearfix
  padding: 60px 0
  +media($mobile)
    padding: 30px 0

.l-content--medium
  +clearfix
  padding: 70px 0
  +media($mobile)
    padding: 35px 0

.l-content--big
  +clearfix
  padding: 100px 0
  +media($tablet)
    padding: 50px 0
  +media($mobile)
    padding: 20px 0

// Boxes
.l-box
  +clearfix
  padding: 33px

.l-box--small
  +clearfix
  padding: 25px

.l-box--middle
  +clearfix
  padding: 15px 33px

