<!DOCTYPE html>
<html ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!------ STYLESHEETS ------>

    <link rel="stylesheet" href="stylesheets/css/main.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.min.css">

</head>
<body ng-controller="MainCtrl" class="device cart">

<section class="page">
  <ul class="m-navigation--list visible-mobile">
    <li class="m-navigation--item"><a href="shop.html">Shop</a></li>
    <li class="m-navigation--item"><a href="#">Vip Club</a></li>
    <li class="m-navigation--item"><a href="#">Vip FAQ</a></li>
    <li class="m-navigation--item"><a href="#">MyAccount</a></li>
  </ul>
<section class="slide">
<section class="m-header">
  <nav class="m-navigation">
    <div class="l-single">
      <a href="/" class="m-logo">Soxy.com</a>
      <div class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="right">
        <h5 class="text-medium-sans m-navigation--help">Need help? We‘re an email away&nbsp;&nbsp;<a class="text-bold-sans link" href="mailto:help@soxy.com">help@soxy.com</a></h5>
      </div>
    </div>
  </nav>
</section>

<section class="l-single">
    <!-- <div class="box slide"> -->
    <!--   <p>I am a "full screen" sliding panel  -->
    <!--     <code>{width:100%}</code></p> -->
    <!-- </div> -->
    <!-- <p>I represent the width of your device</p> -->

  <div class="l-content">
    <div class="m-cart">
      <div class="m-cart--timeline hidden-tablet-mobile"></div>
      <h1 class="m-cart--step"><i>1</i>Shopping Cart</h1>
      <h2 class="m-cart--details-title with-arrow visible-tablet-mobile">Choose the way to shop</h2>
      <div class="l-content--small text-center visible-tablet-mobile">
        <div class="m-cart--options-toggler-wrapper visible-tablet-mobile">
          <a href="#" class="m-cart--options-toggler" on-resize ng-class="tab===2 ? 'is-active' : ''" ng-click="tab = 2">VIP MEMBERSHIP</a>
          <a href="#" class="m-cart--options-toggler" ng-class="{'is-active':tab===3}" ng-click="tab = 3">PAY AS YOU GO</a>
        </div>
      </div>
      <div class="l-one-third tabs">
        <h2 class="m-cart--details-title with-arrow hidden-tablet-mobile text-center">Choose the way to shop</h2>
        <div class="m-cart--options-box" ng-init="tab=true" ng-show="tab === 2 || tab === true" ng-click="isActive = !isActive" ng-class="!isActive ? 'is-active' : ''">
          <h3 class="m-cart--options-box-title is-active"><i class="icon-tick"></i>Soxy club VIP<span class="m-badges blue small right" ng-dialog="faqDialogId" ng-dialog-class="ngdialog-theme-default m-dialog wide">FAQ</span></h3>
          <div class="l-box--middle">
            <h4 class="m-cart--benefits-title hidden-tablet-mobile">VIP Benefits</h4>
            <ul class="m-cart--benefits-list">
              <div class="l-single-break-half-break-single">
                <li class="m-cart--benefits-item icon-benefits-discount">10% off any product, any time!</li>
                <li class="m-cart--benefits-item icon-benefits-styles">New styles delivered on your schedule (monthly, every 2 months, every 3 months) </li>
                <li class="m-cart--benefits-item icon-benefits-gift">Every 6th set is FREE</li>
              </div>
              <div class="l-single-break-half-break-single">
                <li class="m-cart--benefits-item icon-benefits-cancel">Cancel/skip/change your deliveries anytime. </li>
                <li class="m-cart--benefits-item icon-benefits-star">Limited edition designs not available to the public</li>
                <li class="m-cart--benefits-item icon-benefits-shipping">Free shipping & Exchanges </li>
              </div>
            </ul>
            <div class="m-actions full-width">
              <a href="" class="link with-arrow" ng-click="moreVipActive = !moreVipActive" ng-class="moreVipActive ? 'is-active' : ''">{{moreVipActive ? 'Close' : 'Learn More'}}<i class="icon-arrow-bottom-blue"></i></a>
              <ul class="m-cart--learn-more-dropdown" ng-show="moreVipActive">
                <li class="m-cart--learn-more-item">
                  <h6>What happens next?</h6>
                  <p>Mauris justo dolor, accumsan et commodo a, sodales sed lectus. Donec eu mauris in sem cursus placerat.</p>
                </li>
                <li class="m-cart--learn-more-item">
                  <h6>How much will I be charged?</h6>
                  <p>Duis vel tellus accumsan, placerat nisl a, commodo dui. Sed lacinia velit nibh, et accumsan ante vehicula eget.</p>
                </li>
                <li class="m-cart--learn-more-item">
                  <h6>Do I get to choose the socks?</h6>
                  <p>Ut et congue magna. Quisque mi libero, elementum vitae metus ac, porta aliquet neque.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h5 class="m-cart--options-box-or hidden-tablet-mobile">or</h5>
        <div class="m-cart--options-box" ng-show="tab === 3 || tab == true" ng-click="isActive = !isActive" ng-class="isActive ? 'is-active' : ''">
          <h3 class="m-cart--options-box-title"><i class="icon-tick"></i>Pay As You Go</h3>
          <div class="l-box--middle">
            <h4 class="m-cart--benefits-title">Pay As You Go Benefits</h4>
            <ul class="m-cart--benefits-list">
              <li class="m-cart--benefits-item icon-benefits-shipping">Free shipping & Exchanges </li>
            </ul>
            <!-- <div class="m&#45;actions full&#45;width"> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="l-one-third">
        <h2 class="m-cart--details-title">Your Cart</h2>
        <div class="l-half-tablet">
          <div class="m-cart--options-box bg-snow small-margin">
            <h3 class="m-cart--item-title">Summer<span class="m-cart--trash-btn icon-trash"></span></h3>
            <div class="l-box--small">
              <img src="images/content/product-set-1.jpg" />
              <div class="m-actions">
                <div class="m-cart--item-price-wrapper">
                  <p class="vip-price text-bold-sans text-blue">$45 VIP</p>
                  <p class="regular-price text-sans">$55 REG</p>
                </div>
                <form id='CartCounter' class="m-counter with-label" method='POST' action='#'>
                  <input type='button' value='-' class='qtyminus icon-minus' field='quantity' />
                  <input type='text' name='quantity' value='0' class='qty' />
                  <input type='button' value='+' class='qtyplus icon-plus' field='quantity' />
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="l-half-tablet">
          <div class="m-cart--options-box bg-snow small-margin">
            <h3 class="m-cart--item-title">Summer<span class="m-cart--trash-btn icon-trash"></span></h3>
            <div class="l-box--small">
              <img src="images/content/product-set-1.jpg" />
              <div class="m-actions">
                <div class="m-cart--item-price-wrapper">
                  <p class="vip-price text-bold-sans text-blue">$45 VIP</p>
                  <p class="regular-price text-sans">$55 REG</p>
                </div>
                <form id='CartCounter' class="m-counter with-label" method='POST' action='#'>
                  <input type='button' value='-' class='qtyminus' field='quantity' />
                  <input type='text' name='quantity' value='0' class='qty' />
                  <input type='button' value='+' class='qtyplus' field='quantity' />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-one-third hidden-tablet-mobile">
        <aside class="m-cart--order-box is-natural" on-scroll="fix-to-top" set-class-when-at-top="is-fixed" padding-when-at-top="200" padding-when-at-bottom="500">
          <h3 class="m-cart--details-title">Order</h3>
          <div class="l-box--middle">
            <div class="m-cart--order-details-wrapper">
              <span class="m-cart--order-details left">Regular Price</span>
              <span class="m-cart--order-price right">$135</span>
            </div>
            <div class="hr"></div>
            <div class="m-cart--order-details-wrapper">
              <span class="m-cart--order-details left">VIP Discount</span>
              <span class="m-cart--order-price discount right">-$35</span>
            </div>
            <div class="m-cart--order-details-wrapper">
              <span class="m-cart--order-details left">Sub Total</span>
              <span class="m-cart--order-price right">$100</span>
            </div>
            <div class="hr"></div>
            <div class="m-cart--order-details-wrapper">
              <span class="m-cart--order-details left">Discount</span>
              <span class="m-cart--order-price discount right">-$100</span>
              <p class="m-cart--order-details-code">(31JD01X)</p>
              <span class="m-cart--order-details left">Shipping & Exchanges</span>
              <span class="m-cart--order-price discount right">Free</span>
            </div>
            <div class="hr strong"></div>
            <div class="m-cart--order-details-wrapper">
              <span class="m-cart--order-details-strong left">Grand Total</span>
              <span class="m-cart--order-price-strong right">$80</span>
            </div>
          </div>
          <div class="hr"></div>
          <div class="l-box--middle">
            <!-- <h5 class="text&#45;sans text&#45;center text&#45;smallest uppercase">gift card</h5> -->
            <!-- </br> -->
            <!-- <span class="left">31JD01X</span> -->
            <!-- <span class="right text&#45;tiny">REMOVE</span> -->
            <form>
              <div class="l-content--tiny">
                <h5 class="text-smallest text-center text-sans">Promo code/Gift Card</h5>
              </div>
              <div class="l-half">
                <input class="text-serif" type="text" placeholder="codename">
              </div>
              <div class="l-half text-right">
                <input class="m-button blue small" type="submit" value="submit">
              </div>
            </form>
          </div>
          <div class="hr"></div>
          <div class="l-box--middle">
            <a href="#" class="m-button red small full-width">Continue Checkout</a>
            </br>
            </br>
            <p class="text-center uppercase text-sans">NEED HELP?</p>
            <p class="text-center text-serif">Our friendly team is here for you <a class="link" href="mailto:help@soxy.com">help@soxy.com</a></p>
          </div>
        </aside>
      </div>
      <div class="l-content--tiny"></div>
      <h1 class="m-cart--step" ng-show="!isActive"><i>2</i>Frequency</h1>
      <div class="l-eight" ng-show="!isActive">
        <h2 class="m-cart--details-title">HOW OFTEN do you want socks delivered?</h2>
        <div class="l-one-third l-keep-on-tablet">
          <div class="m-cart--frequency" ng-class="frequencyTab === 1 ? 'is-active' : ''" ng-click="frequencyTab = 1">
            <img class="hidden-mobile" ng-src="{{frequencyTab === 1 && 'images/frequency-calendar-month-white.png' || 'images/frequency-calendar-month.png'}}"/>
            <h2 class="visible-mobile">Every month</h2>
          </div>
        </div>
        <div class="l-one-third l-keep-on-tablet">
          <div class="m-cart--frequency" ng-init="frequencyTab = 2" ng-class="frequencyTab === 2 ? 'is-active' : ''" ng-click="frequencyTab = 2">
            <img class="hidden-mobile" ng-src="{{frequencyTab === 2 && 'images/frequency-calendar-decade-white.png' || 'images/frequency-calendar-decade.png'}}"/>
            <h2 class="visible-mobile">Every 3 months</h2>
          </div>
        </div>
        <div class="l-one-third l-keep-on-tablet">
          <div class="m-cart--frequency last" ng-class="frequencyTab === 3 ? 'is-active' : ''" ng-click="frequencyTab = 3">
            <img class="hidden-mobile" ng-src="{{frequencyTab === 3 && 'images/frequency-calendar-half-year-white.png' || 'images/frequency-calendar-half-year.png'}}"/>
            <h2 class="visible-mobile">Every 6 months</h2>
          </div>
        </div>
      </div>
      <div class="l-row">
        <div class="l-content--tiny"></div>
        <h1 class="m-cart--step l-nine gutter"><i>{{isActive ? '2' : '3'}}</i>Shipping info<span class="icon-secure-shopping right hidden-tablet-mobile"></span></h1>
        <div class="l-eight">
          <form class="m-form">
            <div class="l-row">
              <div class="l-half gutter l-keep-on-tablet">
                <label>Full name</label>
                <input type="text">
              </div>
              <div class="l-half l-keep-on-tablet">
                <label>E-mail</label>
                <input type="email">
              </div>
            </div>
            <div class="l-row">
              <label>Street adress, Apt</label>
              <input type="text">
            </div>
            <div class="l-row">
              <div class="l-half gutter l-keep-on-tablet">
                <label>City</label>
                <input type="text">
              </div>
              <div class="l-half l-keep-on-tablet">
                <div class="l-half gutter l-keep-on-tablet l-keep-on-mobile">
                  <label>State</label>
                  <div class="select-wrapper">
                    <select>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                </div>
                <div class="l-half l-keep-on-tablet l-keep-on-mobile">
                  <label>ZIP</label>
                  <input type="text">
                </div>
              </div>
            </div>
            <div class="l-row">
              <div class="l-half gutter l-keep-on-tablet">
                <label>Country</label>
                <input type="text">
              </div>
            </div>
          </form>
          <form class="m-form">
            <div class="l-content">
              <div class="l-content--tiny">
                <h3 class="text-smaller text-center-tablet">BILLING INFO</h3>
              </div>
              <div class="l-row">
                <div class="l-nine gutter">
                  <label>Credit card number</label>
                  <input type="text">
                </div>
                <div class="l-one-fourth l-keep-on-tablet l-half-mobile gutter">
                  <label>CVV</label>
                  <input text>
                </div>
                <div class="l-half-mobile visible-mobile">
                  <label>Expire</label>
                  <div class="select-wrapper">
                    <select>
                      <option value="">07 July</option>
                      <option value="">08 July</option>
                      <option value="">09 July</option>
                      <option value="">10 July</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="l-row">
                <div class="l-half gutter l-nine-tablet hidden-mobile">
                  <div class="l-eight-tablet gutter">
                    <label>Expire</label>
                    <div class="select-wrapper">
                      <select>
                        <option value="">07 July</option>
                        <option value="">08 July</option>
                        <option value="">09 July</option>
                        <option value="">10 July</option>
                      </select>
                    </div>
                  </div>
                  <div class="l-one-third l-keep-on-tablet visible-tablet">
                    <label>&nbsp;</label>
                    <div class="select-wrapper">
                      <select>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="l-half l-one-fourth-tablet">
                  <div class="l-half gutter hidden-tablet-mobile">
                    <label>&nbsp;</label>
                    <div class="select-wrapper">
                      <select>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                      </select>
                    </div>
                  </div>
                  <div class="l-half hidden-mobile">
                    <label>Billing ZIP</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="l-row">
                <label>State</label>
                <div class="select-wrapper">
                  <select>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                  </select>
                </div>
                <div class="visible-mobile">
                  <label>Billing ZIP</label>
                  <input type="text">
                </div>
              </div>
            </div>
            <div class="m-cart--order-box visible-tablet-mobile">
              <h3 class="m-cart--details-title">Order</h3>
              <div class="l-box">
                <div class="m-cart--order-details-wrapper">
                  <span class="m-cart--order-details left">Regular Price</span>
                  <span class="m-cart--order-price right">$135</span>
                </div>
                <div class="hr"></div>
                <div class="m-cart--order-details-wrapper">
                  <span class="m-cart--order-details left">VIP Discount</span>
                  <span class="m-cart--order-price discount right">-$35</span>
                </div>
                <div class="m-cart--order-details-wrapper">
                  <span class="m-cart--order-details left">Sub Total</span>
                  <span class="m-cart--order-price right">$100</span>
                </div>
                <div class="hr"></div>
                <div class="m-cart--order-details-wrapper">
                  <span class="m-cart--order-details left">Discount</span>
                  <span class="m-cart--order-price discount right">-$100</span>
                  <p class="m-cart--order-details-code">(31JD01X)</p>
                  <span class="m-cart--order-details left">Shipping & Exchanges</span>
                  <span class="m-cart--order-price discount right">Free</span>
                </div>
                <div class="hr strong"></div>
                <div class="m-cart--order-details-wrapper">
                  <span class="m-cart--order-details-strong left">Grand Total</span>
                  <span class="m-cart--order-price-strong right">$80</span>
                </div>
              </div>
              <div class="hr"></div>
              <div class="l-box--middle">
                <h5 class="text-sans text-center text-smallest uppercase">gift card</h5>
                </br>
                <span class="left">31JD01X</span>
                <span class="right text-tiny">REMOVE</span>
              </div>
              <div class="hr"></div>
              <div class="l-box">
                <p class="text-center uppercase text-sans">NEED HELP?</p>
                <p class="text-center text-serif">Our friendly team is here for you <a class="link" href="mailto:help@soxy.com">help@soxy.com</a></p>
              </div>
            </div>
            <h1 class="m-cart--step finish hidden-tablet-mobile"><i class="icon-tick"></i>
              <span class="m-cart--step-help-info">Plans automatically renew.
                </br>You may cancel at anytime.
              </span>
            </h1>
            <div class="m-actions right visible-tablet-mobile">
              <a href="#" class="m-button red text-center-tablet">BUY NOW</a>
            </div>
            <span class="m-cart--step-help-info visible-tablet-mobile">Plans automatically renew.
                </br>You may cancel at anytime.
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="m-footer">
    <div class="l-single">
      <div class="badge"></div>
      <div class="m-footer--text-block">
      <p class="m-footer--title">SOXY GUARANTEE</p>
      <p class="m-footer--description">Your happiness is our #1priority. Which means we stand by our product 100%, no matter what, no questions asked. If you have a problem, we will solve it. Exchange it for free. Refund it. Send you new socks. Whatever it takes. Simply send us a message, you're family now.<span> We’re always here for you. Happiness.</span> <span class="hide-text">Guaranteed.</span>
          </p>
        </div>
        <div class="m-footer--contact-block">
          <div class="left-tablet-column">
            <p>E-MAIL</p>
            <a class="email" href="#">hello@soxy.com</a>
          </div>
          <div class="right-tablet-column">
            <p>STAY IN TOUCH</p>
            <div class="m-footer--socials text-center">
              <a class="" href="#"><img src="images/icons/icon-facebook.png"></a>
              <a class="" href="#"><img src="images/icons/icon-instagram.png"></a>
            </div>
          </div>
        </div>
        <div class="m-footer--payment-methods text-center">
        <img src="images/icons/icon-payment-methods.png">
        <div class="l-content">
          <p class="copyright">Copyright © 2014. All rights reserved.</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
          </div>
        </div>
    </div>
  </div>
</footer>
</section>
</section>

<ui-view></ui-view>



<!------ SCRIPTS ------>
<script type="text/ng-template" id="faqDialogId">
  <div class="ngdialog-message text-center">
    <h5>How it works</h5>
    <!--<p ng-show="theme">Test content for <code>{{theme}}</code></p>-->
    <!--<p ng-show="ngDialogId">Dialog Id: <code>{{ngDialogId}}</code></p>-->
    <!--<p ng-show="ngDialogData.foo">Data passed through: <code>{{ngDialogData.foo}}</code></p>-->
    <!--<p ng-show="dialogModel.message">Scope passed through: <code>{{dialogModel.message}}</code></p>-->
    <div class="l-content--small">
      <div class="l-one-third">
        <div class="m-dialog--image-wrapper">
          <img src="images/icons/icon-calendar-faq.png"/>
        </div>
        <p>Let us know how often you want fresh socks delivered</p>
      </div>
      <div class="l-one-third">
        <div class="m-dialog--image-wrapper">
          <img src="images/icons/icon-designs-faq.png"/>
        </div>
        <p>We design 5 new styles using the highest quality fabrics</p>
      </div>
      <div class="l-one-third">
        <div class="m-dialog--image-wrapper truck">
          <img src="images/icons/icon-truck-faq.png"/>
        </div>
        <p>You get 5 new pair delivered to your door</p>
      </div>
    </div>
    <h6>Perks of being part of the club</h6>
    <div class="l-content--small no-padding-bottom">
      <ul class="m-cart--benefits-list">
        <div class="l-half">
          <li class="m-cart--benefits-item icon-benefits-discount">10% off any product, any time!</li>
          <li class="m-cart--benefits-item icon-benefits-gift">Every 6th set is FREE</li>
        </div>
        <div class="l-half">
          <li class="m-cart--benefits-item icon-benefits-cancel">Cancel/skip/change your deliveries anytime. </li>
          <li class="m-cart--benefits-item icon-benefits-star">Limited edition designs not available to the public</li>
        </div>
        <div class="l-single text-center">
          <li class="m-cart--benefits-item icon-benefits-happy">Free shipping & Exchanges </li>
        </div>
      </ul>
    </div>
  </div>
  <!--
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary"
        ng-dialog="secondDialogId"
        ng-dialog-class="ngdialog-theme-default m-dialog wide"
        ng-dialog-controller="SecondModalCtrl"
        ng-dialog-close-previous>Close and open
    </button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openSecond()">Open next</button>
  </div>
  -->
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/jquery.ui.touch-punch.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/controller.js"></script>
<script src="scripts/directives/directive.js"></script>
<script src="scripts/filters/filter.js"></script>
<script src="scripts/services/service.js"></script>
<script src="scripts/main.js"></script>


</body>

</html>


