<!DOCTYPE html>
<html ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!------ STYLESHEETS ------>

    <link rel="stylesheet" href="stylesheets/css/main.css" />

</head>
<body ng-controller="MainCtrl">

<section class="m-header">
  <nav class="m-navigation">
    <div class="l-single">
      <a href="/" class="m-logo">Soxy.com</a>
      <div class="m-cart--dropdown" ng-click="toggleDropdown()">
        <span>Cart</span>
        <span class="m-badges blue">0</span>
        <div class="m-cart--dropdown-box">
          <span class="m-cart--dropdown-close-btn icon-close"></span>
          <div class="m-cart--dropdown-item">
            <img src="images/content/product-set-white-1.jpg" />
            <div class="m-cart--dropdown-overlay">
              <span class="m-cart--dropdown-trash-btn icon-trash"></span>
              <p class="m-cart--dropdown-item-amount">
                Summer x 2
              </p>
              <form id='dropdownCartCounter' class="m-counter" method='POST' action='#'>
                <input type='button' value='-' class='qtyminus' field='quantity' />
                <input type='text' name='quantity' value='0' class='qty' />
                <input type='button' value='+' class='qtyplus' field='quantity' />
              </form>
            </div>
          </div>
          <div class="m-cart--dropdown-item">
            <img src="images/content/product-set-white-1.jpg" />
            <div class="m-cart--dropdown-overlay">
              <span class="m-cart--dropdown-trash-btn icon-trash"></span>
              <p class="m-cart--dropdown-item-amount">
                Winter x 3
              </p>
              <form id='dropdownCartCounter' class="m-counter" method='POST' action='#'>
                <input type='button' value='-' class='qtyminus' field='quantity' />
                <input type='text' name='quantity' value='0' class='qty' />
                <input type='button' value='+' class='qtyplus' field='quantity' />
              </form>
            </div>
          </div>
          <a href="#" class="m-button red small full-width">Checkout</a>
          <p class="m-cart--dropdown-promote">GET <strong>FREE SHIPPING</strong> WHEN YOU BECOME A VIP TODAY</p>
        </div>
      </div>
      <div class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- <div class="screen"></div> -->
      <ul class="m-navigation--list menu-bar">
        <li class="m-navigation--item menu feed"><a href="#">Shop</a></li>
        <li class="m-navigation--item menu radio"><a href="#">Vip Club</a></li>
        <li class="m-navigation--item menu browse"><a href="#">Vip FAQ</a></li>
        <li class="m-navigation--item hidden-tablet-mobile"><a href="#">MyAccount</a></li>
      </ul>
    </div>
  </nav>
</section>

<section class="m-purchase">
  <div class="l-content">
    <div class="m-purchase--item-wrapper">
      <img src="images/content/product-set-white-1.jpg">
    </div>
  </div>
  <div class="m-purchase--dashboard">
    <h1 class="hidden-tablet-visible-mobile">Summer</h1>
    <div class="m-purchase--price-wrapper visible-mobile">
      <span class="m-purchase--price-status">VIP&nbsp;</span>
      <span class="m-purchase--price">$45</span>
      <span class="m-purchase--price-status">&nbsp;&nbsp;Regular</span>
      <span class="m-purchase--price-regular">$55</p>
    </div>
    <div class="m-actions full-width visible-mobile">
      <a href="#" class="m-button red full-width">Add To Cart</a>
    </div>
    <div class="l-single-break-half-break-single">
      <div class="l-content--small">
        <div class="l-one-third text-center">
          <i class="icon-truck"></i>
          <p class="m-purchase--feature">Free shipping worldwide</p>
        </div>
        <div class="l-one-third text-center">
          <i class="icon-clock"></i>
          <p class="m-purchase--feature">365 returns</p>
        </div>
        <div class="l-one-third text-center">
          <i class="icon-heart"></i>
          <p class="m-purchase--feature">110% happiness & fit gurantee</p>
        </div>
      </div>
      <div class="m-purchase--info">
        <p class="m-purchase--label">Material:</p>
        <p class="m-purchase--details">80% Combed Cotton</p>
        <p class="m-purchase--details">10% Polyester and 10% Spandex</p>
      </div>
      <div class="m-purchase--info">
        <p class="m-purchase--label">Size:</p>
        <p class="m-purchase--details">Comfortably fits US Men 7-13</p>
      </div>
    </div>
    <div class="l-single-break-half-break-single visible-tablet-hidden-mobile">
      <div class="m-purchase--price-wrapper">
        <h1 class="visible-tablet-mobile">Summer</h1>
        <span class="m-purchase--price-status">VIP&nbsp;</span>
        <span class="m-purchase--price">$45</span>
        <span class="m-purchase--price-status">&nbsp;&nbsp;Regular</span>
        <span class="m-purchase--price-regular">$55</p>
      </div>
      <div class="m-actions full-width">
        <a href="#" class="m-button red full-width">Add To Cart</a>
      </div>
    </div>
  </div>
</section>

<section class="l-content">
  <h1 class="heading text-center">You‘re going to also dig these</h1>
</section>

<section class="m-products">
  <div class="bg-snow">
    <div class="l-single">
      <div class="bg-snow">
        <div class="m-product--item l-one-third-break-half">
          <p class="title hidden-tablet-mobile">Stripes</p>
          <img src="images/content/product-set-1.jpg">
          <div class="m-product--info hidden-tablet-mobile">
            <div class="m-product--price-wrapper">
              <p class="m-product--customer-status">VIP:</p>
              <p class="m-product--price">$45</p>
            </div>
            <a href="#" class="m-button small blue">Add to Cart</a>
          </div>
        </div>
        <div class="m-product--item l-one-third-break-half">
          <p class="title text-center hidden-tablet-mobile">Summer</p>
          <img src="images/content/product-set-1.jpg">
          <div class="m-product--info hidden-tablet-mobile">
            <div class="m-product--price-wrapper">
              <p class="m-product--customer-status">VIP:</p>
              <p class="m-product--price">$45</p>
            </div>
            <a href="#" class="m-button small blue">Add to Cart</a>
          </div>
        </div>
        <div class="m-product--item l-one-third-break-half">
          <p class="title text-center hidden-tablet-mobile">Stripes</p>
          <img src="images/content/product-set-1.jpg">
          <div class="m-product--info hidden-tablet-mobile">
            <div class="m-product--price-wrapper">
              <p class="m-product--customer-status">VIP:</p>
              <p class="m-product--price">$45</p>
            </div>
            <a href="#" class="m-button small blue">Add to Cart</a>
          </div>
        </div>
        <div class="m-product--item l-one-third-break-half visible-tablet-mobile">
          <p class="title text-center hidden-tablet-mobile">Stripes</p>
          <img src="images/content/product-set-1.jpg">
          <div class="m-product--info hidden-tablet-mobile">
            <div class="m-product--price-wrapper">
              <p class="m-product--customer-status">VIP:</p>
              <p class="m-product--price">$45</p>
            </div>
            <a href="#" class="m-button small blue">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-our-socks text-center text-white">
  <div class="l-content">
    <div class="l-single">
      <h1 class="heading">Our Socks</h1>
      <div class="l-one-third l-keep-on-tablet">
        <h5 class="heading text-bold text-shadow uppercase">Luxury Fabric</h5>
        <p class="text-serif text-shadow">We searched the world for the finest combed cotton making sure we had the right amount of softness, stretch, and durability.</p>
      </div>
      <div class="l-one-third l-keep-on-tablet">
        <h5 class="heading text-bold text-shadow uppercase">Flawless Design</h5>
        <p class="text-serif text-shadow">Each sock is carefully examined and designed by experts ensuring unique colors and patterns.</p>
      </div>
      <div class="l-one-third l-keep-on-tablet">
        <h5 class="heading text-bold text-shadow uppercase">The Perfect Length</h5>
        <p class="text-serif text-shadow">Mid-calf length socks to compliment your dress pants or shorts making you picture perfect.</p>
      </div>
    </div>
  </div>
</section>

<section class="l-content text-center hidden-tablet-mobile">
  <h1 class="heading">What people think</h1>
  <p class="subheading-normal">We‘re commited to your 100% happiness.</p>
  <div class="icon-stars"></div>
  <div class="container slider">
    <p ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentSlideIndex($index)">
      {{slide.quote}}
    </p>

    <a class="arrow prev" href="" ng-click="nextSlide()"></a>
    <a class="arrow next" href="" ng-click="prevSlide()"></a>
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="" ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav>
  </div>
</section>

<section class="l-content--small bg-blue text-center text-white hidden-tablet-mobile">
  <h1 class="heading">Soxy Worldwide</h1>
  <h3 class="subheading">Use the hashtag <span class="hashtag">#SoxyCrazy</span> to join in!</h3>
</section>

<section class="m-photos hidden-tablet-mobile">
  <div class="m-photos--inner">
    <a href="#" target="_blank">
      <img src="images/content/photo-1.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-2.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-3.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-4.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-5.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-6.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-7.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-8.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-9.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-10.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-11.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-12.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-13.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-14.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-15.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-16.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-17.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-18.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-19.jpg">
    </a>
    <a href="#" target="_blank">
      <img src="images/content/photo-20.jpg">
    </a>
  </div>
</section>

<footer>
  <div class="m-footer">
    <div class="l-single">
      <div class="badge"></div>
      <div class="m-footer--text-block">
        <p class="m-footer--title">SOXY GUARANTEE</p>
        <p class="m-footer--description">Your happiness is our #1priority. Which means we stand by our product 100%, no matter what, no questions asked. If you have a problem, we will solve it. Exchange it for free. Refund it. Send you new socks. Whatever it takes. Simply send us a message, you're family now.<span> We’re always here for you. Happiness.</span> <span class="hide-text">Guaranteed.</span></p>
      </div>
      <div class="m-footer--contact-block">
        <div class="left-tablet-column">
          <p>E-MAIL</p>
          <a class="email" href="#">hello@soxy.com</a>
        </div>
        <div class="right-tablet-column">
          <p>STAY IN TOUCH</p>
          <div class="m-footer--socials text-center">
            <a class="" href="#"><img src="images/icons/icon-facebook.png"></a>
            <a class="" href="#"><img src="images/icons/icon-instagram.png"></a>
          </div>
        </div>
      </div>
      <div class="m-footer--payment-methods text-center">
        <img src="images/icons/icon-payment-methods.png">
        <div class="l-content">
          <p class="copyright">Copyright © 2014. All rights reserved.</p>
          <p>Terms & Conditions</p>
          <p>Privacy Policy</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!------ SCRIPTS ------>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/controller.js"></script>
<script src="scripts/directives/directive.js"></script>
<script src="scripts/filters/filter.js"></script>
<script src="scripts/services/service.js"></script>
<script src="scripts/main.js"></script>


</body>

</html>


