// *
//   +box-sizing(border-box)
// body
//   overflow: hidden

.text-center
  text-align: center
  width: 100%

.text-center-tablet
  +media($tablet)
    text-align: center

.text-white
  color: white

.text-light-blue
  color: $light-blue

.text-blue
  color: $brand-color

.uppercase
  text-transform: uppercase

.title
  color: $title-color
  letter-spacing: 1px

.heading
  text-transform: uppercase
  letter-spacing: 0.4px
  line-height: 42px
  margin-bottom: 5px
  +media($mobile)
    font-size: em(26)
    line-height: 34px

.subheading
  @extend %adriane-italic-serif
  font-size: em(18)
  color: $subheading-color
  letter-spacing: 0.4px
  line-height: 25px

.subheading-normal
  @extend %adriane-serif
  font-size: em(17)
  color: #707070

.text-serif
  @extend %adriane-serif

.text-italic-serif
  @extend %adriane-italic-serif

.text-sans
  @extend %brandon-sans

.text-bold-sans
  @extend %brandon-bold-sans

.text-shadow
  text-shadow: 1px 1px 1px black

.hashtag
  color: white

// Backgrounds
.bg-snow
  background-color: $snow

.bg-gray
  background-color: $light-gray

.bg-blue
  background-color: $brand-color

.bg-our-socks
  background-image: url('../../images/content/bg-our-socks.jpg')
  background-position: center center
  background-size: cover
  min-height: 600px
  overflow: hidden
  h1.heading
    margin-top: 150px
  h5.heading
    margin-top: 100px
  +media($tablet)
    background-image: none
    background-color: white
    min-height: auto
    h1.heading
      margin-top: 0
    .heading
      color: $title-color
      text-shadow: none
    p
      text-shadow: none
      color: #656565
      font-size: em(17)
    h5.heading
      margin-top: 50px
      color: $brand-color
      text-transform: capitalize

// Responsive helpers
.hidden-tablet-mobile
  display: inline-block
  +media($tablet)
    display: none !important

.hidden-mobile
  display: inline-block
  +media($mobile)
    display: none !important

.hidden-tablet
  display: inline-block
  +media($tablet)
    display: none !important
  +media($mobile)
    display: inline-block !important

.visible-tablet
  display: none !important
  +media($tablet)
    display: inline-block !important

.hidden-tablet-visible-mobile
  display: inline-block
  +media($tablet)
    display: none
  +media($mobile)
    display: inline-block !important


.visible-tablet-mobile
  display: none !important
  +media($tablet)
    display: inline-block !important

.visible-mobile
  display: none !important
  +media($mobile)
    display: inline-block !important

.visible-tablet-hidden-mobile
  +media($mobile)
    display: none !important


// Margin/Padding resets
.no-margin-bottom
  margin-bottom: 0 !important

.no-padding-bottom
  padding-bottom: 0 !important

// Floats
.right
  float: right

.left
  float: left

// Hr
.hr
  overflow: hidden
  width: 100%
  height: 1px
  background-color: #f2f2f2
  margin: 10px 0
  &.strong
    background-color: #acacac
    margin-top: 30px

// Links
.link
  @extend %brandon-bold-sans
  color: $brand-color
  &.with-arrow
    padding-right: 30px
    position: relative
    i
      position: absolute
      right: 0
      top: 50%
      margin-top: -3px

