// *
//   +box-sizing(border-box)

.text-center
  text-align: center

.text-white
  color: white

.uppercase
  text-transform: uppercase

.title
  color: $title-color
  letter-spacing: 1px

.heading
  text-transform: uppercase
  letter-spacing: 0.4px
  line-height: 42px

.subheading
  @extend %adriane-italic-serif
  font-size: em(18)
  color: $subheading-color
  letter-spacing: 0.4px
  line-height: 42px

.subheading-normal
  @extend %adriane-serif
  font-size: em(17)
  color: #707070

.text-serif
  @extend %adriane-serif

.text-shadow
  text-shadow: 1px 1px 1px black

.hashtag
  color: white

// Backgrounds
.bg-snow
  background-color: $snow

.bg-blue
  background-color: $brand-color

.bg-our-socks
  background-image: url('../../images/content/bg-our-socks.jpg')
  background-position: center center
  background-size: cover
  min-height: 600px
  overflow: hidden
  .heading
    margin-top: 150px
    +media($tablet)
      margin-top: 50px

// Responsive helpers
.hidden-tablet-mobile
  +media($tablet)
    display: none !important

.visible-tablet-mobile
  display: none !important
  +media($tablet)
    display: block !important


