h1, h2, h3, h4, h5
  @extend %brandon-black-sans
  font-weight: normal

h3.text-smaller
  font-size: em(25)

h5.text-smaller
  font-size: em(17)

h5.text-smallest
  font-size: em(15)

.text-tiny
  font-size: em(12)
  color: #aaaaaa
  font-weight: normal
