.m-button
  @extend %brandon-black-sans
  +transition(all .25s linear)
  font-size: em(18) !important
  display: inline-block
  border-radius: 3px
  padding: 16px 60px
  text-transform: uppercase
  line-height: initial
  &.red
    color: white
    background-color: $red
    &:hover
      background-color: darken($red, 10%)
  &.blue
    color: white
    background-color: $brand-color
    &:hover
      background-color: darken($brand-color, 10%)
  &.white
    background-color: white
    font-size: 15px !important
    color: $brand-color
    text-align: center
    padding: 5px 10px
    letter-spacing: 1px
    width: 80%
    margin: 0 20px

  // Size
  &.small
    font-size: em(14)
  &.full-width
    width: 100%
    text-align: center
