.m-cart
  +clearfix
  position: relative
  padding-left: 70px
  +media($tablet)
    padding-left: 0
    .m-actions
      float: none
      width: 100%
      text-align: center
      margin-top: 40px
  // small space for fixed order box
  .l-eight
    padding-right: 25px
    +media($tablet)
      padding-right: 0

.m-cart--timeline
  width: 2px
  height: 100%
  background-color: $border-color
  position: absolute
  left: 21px
  top: 0
  bottom: 0
  z-index: 1

.m-cart--step
  @extend %brandon-sans
  font-size: em(40)
  position: relative
  z-index: 2
  margin-left: -69px
  margin-bottom: 30px
  width: 100%
  display: inline-block
  +media($tablet)
    margin-left: 0
    font-size: em(30)
    text-align: center
    margin-top: 20px
    i
      position: absolute !important
      left: 0
  &.l-nine
    +span-columns(9 of 12)
    padding-right: 50px
    +media($tablet)
      width: 100%
      padding-right: 0
  &.finish
    float: left
    width: auto
    +media($mobile)
      float: none
      width: 100%
      text-align: center
    i
      &:after
        content: ""
        background-color: white
        position: absolute
        bottom: -53px
        left: 0
        right: 0
        height: 50px
        width: 100%
  i
    @extend %brandon-black-sans
    font-size: 18px
    font-style: normal
    text-align: center
    line-height: 42px
    width: 42px
    height: 42px
    border-radius: 21px
    border: 2px solid $brand-color
    color: $brand-color
    background-color: white
    display: inline-block
    margin-right: 23px
    position: relative
    &:before
      content: ""
      background-color: white
      position: absolute
      left: 0
      right: 0
      top: -10px
      height: 8px
      width: 100%

.m-cart--step-help-info
  @extend %adriane-serif
  font-size: 14px
  display: inline-block
  color: #38393c
  line-height: 20px
  +media($tablet)
    margin-top: 20px
    width: 100%
    text-align: center

.m-cart--options-box-or
  @extend %adriane-italic-serif
  font-size: em(17)
  text-align: center
  color: $light-blue
  padding-right: 25px
  margin-bottom: 22px
  width: 100%

.m-cart--options-box
  +clearfix
  border: 1px solid $border-color
  margin: 0 25px 25px 0
  .l-box--small
    +media($mobile)
      padding: 10px 25px
      .m-actions
        margin-top: 10px
  .icon-tick
    background-size: 0
  .m-badges
    background-color: #005fc0
  &.is-active .m-cart--options-box-title
    background-color: $brand-color
    color: white
    .icon-tick
      background-size: auto
    .m-badges
      background-color: #003f7a
  +media($tablet)
    border-width: 0
    padding: 5px
    margin: 0
    float: left
    border: 5px solid white
  +media($mobile)
    width: 100%
  .m-counter
    display: block
    float: right
    margin-top: 5px
  .m-actions
    width: 100%
    margin-top: 30px

.m-cart--learn-more-dropdown
  text-align: left
  margin-top: 20px

.m-cart--learn-more-item
  h6
    @extend %brandon-bold-sans
    font-size: em(15)
    font-weight: normal
    margin-bottom: 5px
  p
    @extend %adriane-serif
    font-size: em(14)
    color: #4d5052

.m-cart--benefits-title
  @extend %brandon-bold-sans
  font-size: em(17)
  color: $title-color
  margin-bottom: 10px

.m-cart--benefits-list
  margin: 0
  padding: 0
  .link
    display: inline-block

.m-cart--benefits-item
  @extend %adriane-serif
  font-size: em(14)
  padding-left: 20px
  position: relative
  margin: 5px 0

.m-cart--details-title
  @extend %brandon-sans
  font-size: em(18)
  text-align: center
  text-transform: uppercase
  letter-spacing: 1px
  position: relative
  padding-right: 25px
  margin-bottom: 20px
  +media($tablet)
    text-align: center
    width: 100%
    padding: 0
  + .l-content--small
    padding-bottom: 0
  &.with-arrow:before
    content: ""
    position: absolute
    left: -10px
    bottom: -20px
    background-image: url('../../images/icons/icon-helper-arrow.png')
    width: 27px
    height: 31px
    +media($tablet)
      display: none

.m-cart--options-box-title
  @extend %brandon-bold-sans
  font-size: em(17)
  background-color: #e3e7ea
  color: $brand-color
  padding: 20px 0
  text-align: center
  text-transform: uppercase
  letter-spacing: 1px
  position: relative
  cursor: pointer
  +media($tablet)
    display: none
  i
    width: 26px
    height: 26px
    display: inline-block
    position: absolute
    left: 15px
    top: 50%
    margin-top: -13px
    background-color: white
    border-radius: 13px
  .m-badges
    position: absolute
    right: 5px
    top: 13px

.m-cart--item-title
  @extend %brandon-sans
  font-size: em(22)
  padding: 20px 25px
  +media($mobile)
    padding: 10px 25px

.m-cart--trash-btn
  border: 1px solid #e3e6e8
  float: right
  cursor: pointer

.m-cart--item-price-wrapper
  float: left
  .vip-price
    font-size: em(20)
    line-height: 20px
  .regular-price
    font-size: em(15)
    color: #737779
  p
    margin-bottom: 0

.m-cart--order-box
  +clearfix
  box-shadow: 0 0 27px rgba(0,0,0,0.3)
  background-color: white
  position: absolute
  top: 50px
  padding-top: 30px
  .m-cart--details-title
    padding-right: 0
  &.is-fixed
    position: fixed
    top: 0px
    max-width: 356px
  +media($tablet)
    padding-left: 70px
    padding-right: 70px
    width: 90%
    top: 0
    margin: 0 5%
    //#TODO //this is dirty
    position: relative !important
    top: 0 !important
    &.is-fixed
      position: relative !important
      max-width: 100% !important
  +media($mobile)
    padding-left: 0
    padding-right: 0
    margin: 0
    width: 100%
    position: relative !important
    top: 0 !important
    &.is-fixed
      position: relative !important
      max-width: 100% !important

.m-cart--order-details-wrapper
  +clearfix

.m-cart--order-details
  @extend %adriane-serif
  font-size: em(15)
  display: inline-block

.m-cart--order-details-strong
  @extend %adriane-bold-serif
  font-size: em(16)
  display: inline-block
  color: #292929

.m-cart--order-price
  @extend %brandon-bold-sans
  font-size: em(16)
  display: inline-block
  color: #292929
  &.discount
    color: $green

.m-cart--order-price-strong
  @extend %brandon-bold-sans
  font-size: em(26)
  color: $brand-color

.m-cart--order-details-code
  @extend %adriane-serif
  font-size: em(15)
  color: #818181
  width: 100%
  overflow: hidden

.m-cart--frequency
  border: 1px solid #ebebeb
  padding: 20px
  text-align: center
  margin: 40px 10px 40px 0
  cursor: pointer
  +media($tablet)
    margin: 40px 0
  +media($mobile)
    margin: 5px 0
    padding: 35px 20px
    border-width: 2px
  &.last
    margin-right: 0
  h2
    @extend %brandon-bold-sans
    font-size: em(32)
  &.is-active
    background-color: $brand-color
    border-color: $brand-color
    h2
      color: white
  img
    height: 135px
    display: inline-block

.m-cart--options-toggler-wrapper
  display: inline-block
  text-align: center

.m-cart--options-toggler
  @extend %brandon-bold-sans
  border: 1px solid $brand-color
  font-size: em(12)
  float: left
  padding: 10px
  text-transform: uppercase
  &:first-child
    +border-left-radius(3px)
  &:last-child
    +border-right-radius(3px)
    margin-left: -1px
  &.is-active
    background-color: $brand-color
    color: white
