.m-features
  +clearfix
  background-color: $brand-color

.m-feature--item
  +span-columns(4 of 12)
  +omega(3n)
  +media($tablet)
    width: 100%
  +media($mobile)
    width: 100%
  position: relative
  text-align: center
  cursor: pointer
  &:hover
    opacity: 0.9
  img
    display: inherit
    width: 100%

.m-feature--caption
  @extend %brandon-sans
  display: inline-block
  position: absolute
  color: white
  top: 35%
  left: 0
  right: 0
  width: 100%
  font-size: em(34)
  padding-top: 50px
