.m-footer
  background-color: $footer-bg-color
  height: 439px
  padding-top: 74px
  .badge
    background-image: url('../../images/badge.png')
    background-position: center center
    width: 179px
    height: 176px