.m-form
  label
    @extend %adriane-serif
    font-size: em(14)
    color: #848589
    margin-top: 5px
  input
    border: 1px solid #e3e3e3
    outline: none
    padding: 15px 20px
    border-radius: 0
    box-shadow: none
    display: inline-block
    width: 100%
    &:focus
      border-color: $brand-color

