.m-header
  +media($mobile)
    text-align: center

.m-header--bg
  background-image: url('../../images/hero-bg.jpg')
  background-position: center center
  background-size: cover
  width: 100%
  min-height: 620px
  text-align: center
  padding-bottom: 20px

.m-header--slogan
  margin-top: 15%
  display: inline-block
  h1
    @extend %brandon-black-sans
    font-size: em(56)
    text-shadow: 0 0 40px black
    margin-bottom: 40px
  h3
    @extend %adriane-italic-serif
    +span-columns(8)
    +shift(2)
    font-size: em(26)
    line-height: em(27)
    text-shadow: 0 0 27px black
    letter-spacing: 1.4px
    margin-bottom: 30px
