.m-header
  width: 100%
  background-color: #f53d3d
  overflow: hidden
  +media($mobile)
    text-align: center

.m-header--bg
  background-image: url('../../images/hero-bg.jpg')
  background-position: center bottom
  background-size: cover
  width: 100%
  text-align: center
  padding-bottom: 100px
  +media($mobile)
    min-height: 320px
    padding-bottom: 30px

.m-header--slogan
  margin-top: 15%
  display: inline-block
  +media($mobile)
    margin-top: 50%
  h1
    @extend %brandon-black-sans
    font-size: em(56)
    line-height: 50px
    text-shadow: 0 0 40px black
    margin-bottom: 40px
    +media($mobile)
      font-size: em(36)
  h3
    @extend %adriane-italic-serif
    +span-columns(8)
    +shift(2)
    font-size: em(26)
    line-height: em(27)
    text-shadow: 0 0 27px black
    letter-spacing: 1.4px
    margin-bottom: 30px
    +media($mobile)
      font-size: em(22)
      line-height: 32px
