.icon-collection
  background-image: url('../../images/icons/icon-collection.png')
  background-position: top center
  background-repeat: no-repeat

.icon-club
  background-image: url('../../images/icons/icon-club.png')
  background-position: top center
  background-repeat: no-repeat

.icon-shipping
  background-image: url('../../images/icons/icon-shipping.png')
  background-position: top center
  background-repeat: no-repeat

.icon-truck
  display: inline-block
  background-image: url('../../images/icons/icon-truck.png')
  width: 38px
  height: 24px

.icon-clock
  display: inline-block
  background-image: url('../../images/icons/icon-clock.png')
  width: 26px
  height: 26px

.icon-heart
  display: inline-block
  background-image: url('../../images/icons/icon-heart.png')
  width: 24px
  height: 23px
