.icon-collection
  background-image: url('../../images/icons/icon-collection.png')
  background-position: top center
  background-repeat: no-repeat

.icon-club
  background-image: url('../../images/icons/icon-club.png')
  background-position: top center
  background-repeat: no-repeat

.icon-shipping
  background-image: url('../../images/icons/icon-shipping.png')
  background-position: top center
  background-repeat: no-repeat

.icon-truck
  display: inline-block
  background-image: url('../../images/icons/icon-truck.png')
  width: 38px
  height: 24px

.icon-clock
  display: inline-block
  background-image: url('../../images/icons/icon-clock.png')
  width: 26px
  height: 26px

.icon-heart
  display: inline-block
  background-image: url('../../images/icons/icon-heart.png')
  width: 24px
  height: 23px

%icon-benefits-common
  background-repeat: no-repeat
  background-position: left 5px
  text-align: left
  float: left
  display: inline-block

.icon-benefits-discount
  background-image: url('../../images/icons/icon-benefits-discount.png')
  @extend %icon-benefits-common

.icon-benefits-styles
  background-image: url('../../images/icons/icon-benefits-style.png')
  @extend %icon-benefits-common

.icon-benefits-gift
  background-image: url('../../images/icons/icon-benefits-gift.png')
  @extend %icon-benefits-common

.icon-benefits-cancel
  background-image: url('../../images/icons/icon-benefits-cancel.png')
  @extend %icon-benefits-common

.icon-benefits-star
  background-image: url('../../images/icons/icon-benefits-star.png')
  @extend %icon-benefits-common

.icon-benefits-shipping
  background-image: url('../../images/icons/icon-benefits-shipping.png')
  @extend %icon-benefits-common

.icon-benefits-happy
  background-image: url('../../images/icons/icon-benefits-happy.png')
  @extend %icon-benefits-common
  float: none

.icon-close
  background-image: url('../../images/icons/icon-close.png')
  width: 10px
  height: 10px

.icon-trash
  background-image: url('../../images/icons/icon-trash.png')
  background-position: center center
  background-repeat: no-repeat
  width: 27px
  height: 27px
  border-radius: 2px
  border: 1px solid #f1f2f4

.icon-stars
  background-image: url('../../images/icons/icon-stars.png')
  background-repeat: no-repeat
  background-position: top center
  width: 109px
  padding-top: 50px
  display: inline-block
  height: 20px
  margin-top: 40px

.icon-tick
  background-image: url('../../images/icons/icon-tick.png')
  background-position: center center
  background-repeat: no-repeat

.icon-secure-shopping
  background-image: url('../../images/secure-job-badge.png')
  width: 98px
  height: 27px

.icon-helper-arrow
  background-image: url('../../images/icons/icon-helper-arrow.png')
  width: 27px
  height: 31px

.icon-arrow-bottom-blue
  background-image: url('../../images/icons/icon-arrow-bottom.png')
  width: 13px
  height: 8px
  +transition(all 0.3s linear)
  .link.is-active &
    +transform(rotate(-180deg))

.icon-plus
  background-image: url('../../images/icons/icon-plus-minus.png')
  background-position: -55px center
  background-repeat: no-repeat
  width: 10px
  height: 10px

.icon-minus
  background-image: url('../../images/icons/icon-plus-minus.png')
  background-position: 13px center
  background-repeat: no-repeat
  width: 10px
  height: 10px
