.page
  width: 100%
  height: 100%
  position: relative
  z-index: 1

.slide-side
  background-color: white
  position: relative
  box-shadow: 1px 1px 25px rgba(0,0,0,0.9)
  z-index: 10000
  &.is-active:after
    content: ""
    position: absolute
    background-color: rgba(0,0,0,0.6)
    height: 100%
    width: 100%
    left: 0
    top: 0
    bottom: 0
    right: 0

+media($mobile)
  .device
    background-image: url('../../images/bg-pattern.gif')
    background-attachment: fixed
    background-position: center

  .menu-btn
    position: absolute
    top: 26px
    left: 10px
    width: 26px
    height: 20px
    z-index: 100
    cursor: pointer
    span
      content: ''
      display: block
      width: 100%
      height: 2px
      background: $brand-color
      position: absolute
      margin-top: 0
      &:nth-child(2)
        margin-top: 10px
      &:nth-child(3)
        margin-top: 20px

