.m-navigation
  @extend %brandon-medium-sans
  background-color: white
  height: 75px
  line-height: 75px
  position: relative
  border-bottom: 1px solid $border-color

.m-navigation--list
  display: inline-block
  float: right

.m-navigation--item
  float: left
  padding: 0 15px
  a
    color: $navigation-color
    &:hover
      color: lighten($navigation-color, 10%)

